.App {
  text-align: center;
}
.child_font{
  font: 60px/60px 'Libre Franklin';
  font-weight: 600;
  transform: translate(-50%, -50%);
  letter-spacing: -1px;
  mix-blend-mode: overlay;
  text-shadow: 0 0 10px #fff;
  color: #fff8;
}
.child_fake{
  font: 130px/130px 'Libre Franklin';
  font-weight: 600;
}
.child_small{
  font: 30px/32px 'Libre Franklin';
  font-weight: 600;

}